<div class="container" id="home-container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Blog App</h1>
        <p class="lead"> Does my blog need a tagline?</p>
        <hr class="my-4">
        <p>Top 50 remarkable campaign slogans for advertising.</p>
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>    </div>
</div>