<div id="page-content">
    <div class="container" id="home-container">
        <div class="jumbotron text-center">
            <h1 class="display-4">Blog App</h1>
            <p class="lead"> Does my blog need a tagline?</p>
            <hr class="my-4">
            <p>Top 50 remarkable campaign slogans for advertising.</p>
            <a class="btn btn-success btn-lg" href="#" role="button">Sign up</a>
        </div>
    </div>
</div>
<footer id="sticky-footer" class="py-3 text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Arbiona", "https://arbiona.herokuapp.com/", class: "text-white"  %></small>
    </div>
</footer>




