@import "bootstrap/dist/css/bootstrap";

.navbar {
  background-color: #212529 !important;
}
.nav-link {
  color: white !important;
}
.navbar-brand {
  font-size: 1.5em;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar-toggler {
  background-color: grey;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: url("blog_pic.jpg");
  // background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: rgb(240, 240, 240);
}

#sticky-footer {
  flex-shrink: none;
}
footer {
  background-color: rgb(33, 37, 41);
}
